<footer class="block block--dark footer">
  <div class="grid container">
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__title footer__title">Product</h2>
        <img
          src="images/chevron.svg"
          alt=""
          class="icon icon--white collapsible__chevron footer__toggler"
        />
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li class="list__item"><a href="#">Website Hosting</a></li>
          <li class="list__item">
            <a href="#">Free Automated Wordpress</a>
          </li>
          <li class="list__item"><a href="#">Migrations</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__title footer__title">Company</h2>
        <img
          src="images/chevron.svg"
          alt=""
          class="icon icon--white collapsible__chevron footer__toggler"
        />
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li class="list__item"><a href="#">About</a></li>
          <li class="list__item">
            <a href="#">Affiliates</a>
          </li>
          <li class="list__item"><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>

    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__title footer__title">SUPPORT</h2>
        <img
          src="images/chevron.svg"
          alt=""
          class="icon icon--white collapsible__chevron footer__toggler"
        />
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li class="list__item"><a href="#">Contact</a></li>
          <li class="list__item">
            <a href="#">Knowledge Base</a>
          </li>
          <li class="list__item"><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>

    <div class="collapsible">
      <header class="collapsible__header">
        <h2 class="collapsible__title footer__title">Domains</h2>
        <img
          src="images/chevron.svg"
          alt=""
          class="icon icon--white collapsible__chevron footer__toggler"
        />
      </header>
      <div class="collapsible__content">
        <ul class="list footer__list">
          <li class="list__item"><a href="#">Domain Checker</a></li>
          <li class="list__item">
            <a href="#">Domain Transfer</a>
          </li>
          <li class="list__item"><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__website">
      <img src="images/logo.png" alt="" />
      <p class="footer__copyright">Copyright &copy; 2020 Mosh Hamedani</p>
    </div>
  </div>
</footer>
