<section class="block block--dark block--skewed-right block--show-case">
  <header class="block__heading">
    <h2 class="block__header">User-Friendly Control Panel</h2>
  </header>
  <div class="show-case">
    <div class="grid grid--1x2 container">
      <img class="show-case__image" src="images/ipad.png" alt="" />
      <div class="show-case__media">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#clock"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Manage Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et,
              deserunt?
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Manage Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et,
              deserunt?
            </p>
          </div>
        </div>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Manage Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et,
              deserunt?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
